server:
  port: 8080

spring:
  application:
    name: ai-sample
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  mail:
    host: localhost
    port: 3025
    username: test@example.com
    password: password
    protocol: smtp
    properties:
      "[mail.smtp.auth]": false
      "[mail.smtp.starttls.enable]": false
    default-encoding: UTF-8
  thymeleaf:
    cache: false
mybatis:
  configuration:
    map-underscore-to-camel-case: true
