server:
  port: 8080

spring:
  application:
    name: ai-sample
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  thymeleaf:
    cache: false
mybatis:
  configuration:
    map-underscore-to-camel-case: true
